.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 360px;
    border-radius: 8px;
    background-color: wheat;
    margin: 0 auto;
    padding: 20px;
}

.Text {
    text-align: center;
}