.ImgContainer {
    display: block;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    height: 100vh;
    background-image: url('../../assets/eventImgSm.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    position: absolute;
    padding: 40px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

@media screen and (min-width: 641px) {
    .ImgContainer {
        background-image: url('../../assets/eventImgMd.jpg');
    }
}

@media screen and (min-width: 1900px) {
    .ImgContainer {
        background-image: url('../../assets/eventImg.jpg');
    }
}
