.NavContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Line {
    width: 30px;
    background: #202020;
    height: 3px;
    transform: translateY(-50%);
    border-radius: 20px;
    animation-name: lineFloating;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes lineFloating {
    0% {
        transform: translateY(-50%) scaleX(1);
    }
    50% {
        transform: translateY(-48%) scaleX(0.95);
    }
    100% {
        transform: translateY(-52%) scaleX(1.02);
    }
}

@media screen and (max-width: 991px) {
    .NavContainer {
        display: none;
    }
}