.Questionnaire {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.BtnContainer {
    min-width: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.BtnContainer .Btn {
    margin: 0 20px;
}
