.SelectedImg {
    position: relative;
    padding: 40px 0;
    text-align: center;
}

.RemoveSelectedImg {
    margin: 10px 0;
}

.SearchResultsContainer {
    text-align: center;
}

.SearchPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}
