.List {
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/
    /*justify-items: center;*/
   display: flex;
    flex-wrap: wrap;
    /*column-gap: 10px;*/
    /*row-gap: 15px;*/
    list-style: none;
    padding: 0;
}